<launch>
    <include file="$(find zed_wrapper)/launch/zed2.launch"/>
    <node pkg="lane_following" type="TestPix2PixTrainedZEDCAM.py" name="TestPix2PixTrainedZEDCAM"/>
    <node pkg="lane_following" type="LaneDetctionWithZedAndRosForPix2Pix.py" name="LaneDetctionWithZedAndRosForPix2Pix"/>
    <node pkg="lane_following" type="SendComand2AMR.py" name="SendComand2AMR" output="screen"/>

</launch>